<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pact.healthapp"
    android:installLocation="auto">


    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 环信要用的 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 百度地图 <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" /> -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!--拨打电话的权限  -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".universal.MyApplication"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".components.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx13dc958ab05ebc13" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.login.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".components.homepage.HomepageActivity" />
        <activity android:name=".components.information.InformationActivity" />
        <activity android:name=".components.community.CommunityActivity" />
        <activity android:name=".components.news.NewsActivity" />
        <activity android:name=".components.im.IMActivity" />
        <activity android:name=".components.im.ShowBigImage" />
        <activity android:name=".components.im.AlertDialog" />
        <activity
            android:name=".components.im.ChatActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".components.push.PushActivity" />
        <activity android:name=".components.topiclist.TopiclistActivity" />
        <activity android:name=".components.topicdetail.TopicdetailActivity" />
        <activity android:name=".components.event.EventDetailActivity" />
        <activity android:name=".components.favorite.MyFavoriteActivity" />
        <activity
            android:name=".components.set.SetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name="com.pact.healthapp.components.publishtopic.PublishTopicActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".components.communitysearch.CommunitySearchActivity" />
        <activity android:name=".view.imageshow.ImageShowActivity" />
        <activity android:name=".components.healthreport.HealthReportActivity" />
        <activity
            android:name=".universal.WebviewActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity android:name=".components.changepsd.ChangePasswordActivity" />
        <activity android:name=".view.imagepick.ui.PhotoWallActivity" />
        <activity android:name=".view.imagepick.ui.PhotoAlbumActivity" />
        <activity
            android:name=".components.appointment.AppointmentActivity"
            android:theme="@style/activityTheme"
            android:windowSoftInputMode="stateUnspecified|adjustResize" />
        <activity android:name=".components.checkupaccount.CheckupAccountActivity" />
        <activity android:name=".components.serviceorder.ServiceOrderActivity" />
        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="ncihealth-pub#ncihealthapp" />
        <!-- 声明环信sdk所需的service SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService" />

        <!-- 设置百度地图的appkey -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zx4r8QGbxeOPyRqz9VdubPWe" />

        <activity
            android:name=".components.appointment.baidumapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <!-- push富媒体，不使用富媒体推送不需要 -->
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaViewActivity"></activity>
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaListActivity"
            android:launchMode="singleTask"></activity>
        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.pact.healthapp.components.push.MyPushMessageReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="dwjBCufzHypA9zgzb0PMTv1c" />
        <!-- push结束 -->


        <!-- 友盟AppKey， 需要替换成你自己的 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5575349167e58ea65d000da5"></meta-data>
        <!-- *************************    分享相关的注册 START **************************** -->
        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/MyCustomDialog"
            android:windowSoftInputMode="stateVisible|adjustResize"></activity>

        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104998382" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付回调activity -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true" />
        <!-- 支付宝网页支付页面 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".components.pay.PayActivity"
            android:exported="true"
            android:theme="@style/activityTheme" />

    </application>

</manifest>